.app-container {
    height: 100%;
    background-size: contain;
    background-image: url('/assets/images/backgrounds/home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #202E31;
}