.image-container {

  img {
    border-radius: 60px;
    height: 40px;
    margin: 0 10px;
    animation: scaleIn 0.6s;
  }

}


.user-details-container {
  min-height: 40px;
  cursor: pointer;

  .user-details {
    margin: 0 10px;
    h4 {
      font-size: 18px;
      color: white;
      margin: 0 20px;
    }

    opacity: 0;
    animation: scaleIn 0.6s 0.25s forwards;

  }

  .logout-button {
    background-color: #4285f4;
    color: white;
    width: 70px;
    line-height: 30px;
    white-space: normal;
    padding: 0;
    border-radius: 20px;
    opacity: 0;

    animation: scaleIn 0.6s 0.5s forwards;
  }
  
}





.mat-card {
  border-radius: 33px;
  background: #e91b237d;
  min-height: 40px;
  margin: 15px 10px;
}



.btn-social-icon {
  background-color: #4285f4;
  color: white;
  opacity: 0;
  animation: scaleInGoogle 2s forwards;
}


@keyframes scaleIn {
  0% {
    transform: scale(0.3);
    opacity: 0.1;

  }

  100% {
    transform: scale(1);
    opacity: 1;

  }
}

@keyframes scaleInGoogle {
  0% {
    transform: scale(0.3);
    opacity: 0.1;
    border-radius: 25px;

  }

  100% {
    transform: scale(1);
    opacity: 1;
    border-radius: 5px;

  }
}

