.list-card {
    max-width: 275px;
    margin: 20px;
    max-height: 350px;
    min-height: 333px;
    position: relative;
    color: white;
    border: 2px solid #e91b237d;
    cursor: pointer;
}

.list-card::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #202e31e0;
    z-index: 1;
}
.card-content {
    z-index: 2;
}

.list-image {
    width: 50px;
}

.mat-card-content {
    margin: 0 20px;
}

.mat-card-subtitle {
    color: #b29555;
    font-size: 20px;
    /* margin: 10px 0; */
    margin-bottom: 10px;
    margin-top: 10px !important;
    font-weight: 500;
}